@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

html{height:  100%;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    margin: 0px;
    position: relative;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 150px);
}

.titulo {
    color: white;
    font-size: 3.5rem;
    margin-top: 3%;
    margin-bottom: 1%;
    text-decoration: underline;
}

.contenedor {
    background-color: #272727;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin: auto;
}

.textos {
    margin-right: 2em;
    text-align: left;
}

.subtitulo {
    color: #F3C800;
    font-weight: 500;
    font-size: 2rem;
}

.textoNormal {
    color: white;
    font-weight: 300;
    font-size: 1.70rem;
}

.resaltado {
    color: #F3C800;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 14rem;
}

.fotos img {
    margin-bottom: 1rem;
    margin-right: rem;
    width: 6rem;
    height: auto;
    box-sizing: border-box;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #272727;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #272727;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    font-weight: bolder;
    color: #F3C800;
}

.navbar-icono {
    color: #F3C800;
    font-size: 1.75rem;
    display: none;
}

.navbar-links {
    border-radius: 7%;
}

.navbar-links:hover {
    background-color: #F3C800;
    transition: 0.5s;
}

.navbar-links:hover a {
    color: black;
    transition: 0.5s;
}

@media (max-height: 645px) {
    footer {
        margin-top: 20px;
    }
}

@media (max-width: 850px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-icono {
        display: block;
    }
    .navbar-links {
        border-radius: 0%;
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar.active .navbar-links {
        display: block;
    }
    .titulo {
        font-size: 2.75rem;
    }
    .subtitulo {
        font-size: 1.15rem;
    }
    .textoNormal {
        font-size: 0.8rem;
    }
    .fotos img {
        width: 3rem;
    }
    .fotos {
        max-width: 7rem;
    }
}

footer {
    background-color: #272727;
}

.contenedorFooter {
    width: 100%;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

.iconos a {
    text-decoration: none;
    border-radius: 15%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 3.5rem;
    color: #F3C800;
}

.iconos a:hover {
    background-color: #F3C800;
    color: black;
    transition: 0.5s;
}