@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

html{height:  100%;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    margin: 0px;
    position: relative;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.titulo {
    color: white;
    font-size: 3.5rem;
    margin-top: 3%;
    margin-bottom: 1%;
    text-decoration: underline;
}

.contenedor {
    background-color: #272727;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin: auto;
}

.textos {
    margin-right: 3.25em;
    text-align: left;
}

.subtitulo {
    color: #F3C800;
    font-weight: 500;
    font-size: 1.75rem;
}

.textoNormal {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
}

.foto {
    border: 0.25rem solid #F3C800;
    border-radius: 5%;
    width: 100%;
    max-width: 18rem;
    height: auto;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #272727;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #272727;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    font-weight: bolder;
    color: #F3C800;
}

.navbar-icono {
    color: #F3C800;
    font-size: 1.75rem;
    display: none;
}

.navbar-links {
    border-radius: 7%;
}

.navbar-links:hover {
    background-color: #F3C800;
    transition: 0.5s;
}

.navbar-links:hover a {
    color: black;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-icono {
        display: block;
    }
    .navbar-links {
        border-radius: 0%;
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar.active .navbar-links {
        display: block;
    }
    .titulo {
        font-size: 2.75rem;
    }
    .subtitulo {
        font-size: 1rem;
    }
    .textoNormal {
        font-size: 0.75rem;
    }
    .foto {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }
}

footer {
    background-color: #272727;
}

.contenedorFooter {
    width: 100%;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

.iconos a {
    text-decoration: none;
    border-radius: 15%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 3.5rem;
    color: #F3C800;
}

.iconos a:hover {
    background-color: #F3C800;
    color: black;
    transition: 0.5s;
}
