@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.opcion {
    display: none;
}

header {
    width: 100%;
    margin: 0;
    position: relative;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 150px);
}

.titulo {
    color: white;
    font-size: 3.3rem;
    margin-top: 3%;
    margin-bottom: 1%;
    text-decoration: underline;
}

.contenedor {
    background-color: #272727;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    margin: auto;
}

.choices {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: 5px solid transparent;
    cursor: pointer;
    color: #272727;
    font-size: 1.5em;
    background-color: #F3C800;
    border-radius: 5%;
    margin-top: 50px;
    transition: 0.5s;
}

button:hover {
    border: 5px solid black;
    color: white;
}

#botonInicio {
    border: 5px solid transparent;
    transition: 0.5s;
}

#botonInicio:hover {
    border: 5px solid black;
    color: white;
}

p {
    color: #333;
    font-size: 18px;
    margin: 10px;
}

#result {
    font-weight: bold;
    font-size: 20px;
    color: #27ae60;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #272727;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    font-weight: bolder;
    color: #F3C800;
}

.navbar-icono {
    color: #F3C800;
    font-size: 1.75rem;
    display: none;
}

.navbar-links {
    border-radius: 7%;
}

.navbar-links:hover {
    background-color: #F3C800;
    transition: 0.5s;
}

.navbar-links:hover a {
    color: black;
    transition: 0.5s;
}

@media (max-width: 850px) {
    .titulo {
        font-size: 3rem;
    }
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-icono {
        display: block;
    }
    .navbar-links {
        border-radius: 0%;
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar.active .navbar-links {
        display: block;
    }
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #272727;
}

.contenedorFooter {
    width: 100%;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

.iconos a {
    text-decoration: none;
    border-radius: 15%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 3.5rem;
    color: #F3C800;
}

.iconos a:hover {
    background-color: #F3C800;
    color: black;
    transition: 0.5s;
}

#botonInicio {
    color: #272727;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    background-color: #F3C800;
    border-radius: 5%;
    margin: 10px;
}

.resaltado {
    color: white;
}

#puntuacionActual {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #F3C800;
    margin-top: 40px;
    margin-bottom: 5px;
}

#maximaPuntuacion {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #F3C800;
    margin-top: 25px;
    margin-bottom: 5px;
}

#preguntasRestantes {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    color: #F3C800;
}

#pregunta {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: white;
    text-decoration: underline;
}

.correct {
    background-color: #27ae60;
    animation: animation 1s ease-in-out;
}

.wrong {
    background-color: #e74c3c;
    animation: animation 1s ease-in-out;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
